= content_for :head do
  = stylesheet_link_tag "/stylesheets/job_post_2.css"

.container-fluid
  %ul.breadcrumb
    %li
      %a{:href => "'/mock/job_post_1"} 1.Contest detail
      %span.divider /
    %li.active 
      %a{:href => "#"} 2.Design Brief
      %span.divider /
    %li 
      %a{:href =>"#"} 3.Payment

  .row-fluid
    .span8
      .wrap
        %h3
          ４、ロゴ表記名
          %br

        %h3
          ５、期限
        %h3
          ６、インダストリー
        %h3
          ７、用途
        %h3
          ８、フォーマット
        %h3
          ９、カラー
        .left
          .pager
            %a{:href => '/mock/job_post_1'} Previous
        .right
          .pager
            %a{:href => '/mock/job_post_3'} Next
        %br
    .span4
      .sidebar-wrap
        %br
        %br
        %br
        .explanation-area.well
          説明エリア 
