= content_for :head do
  = stylesheet_link_tag "/stylesheets/job_post_1.css"

  :javascript
    $(function() {
      $("#contest_category_namecard,#contest_category_bookcover,#contest_category_brush").click(function(){
        $("#prize_pattern1").css("display", "block");
        $('#prize_pattern2').css("display", "none");
        $('#prize_pattern3').css("display", "none");
      });
    }); 

    $(function() {
      $("#contest_category_logo,#contest_category_illustration,#contest_category_iphone-icon,#contest_category_other").click(function(){
        $("#prize_pattern2").css("display", "block");
        $('#prize_pattern1').css("display", "none");
        $('#prize_pattern3').css("display", "none");
      });
    }); 

    $(function() {
      $("#contest_category_flyer").click(function(){
        $("#prize_pattern3").css("display", "block");
        $('#prize_pattern1').css("display", "none");
        $('#prize_pattern2').css("display", "none");
      });
    }); 
    
    $(function() {
      $(".explain-popover").popover({
      });
    });
    
= render 'selectplanform'
