body {
  background: #FEFEFE;
}
footer {
  margin-top: 5px;
}
.left {
  float:left;
}
.right{
  float:right;
}
.clear{
  clear:both;
}
.top {
  vertical-align: top;
}
.middle {
  vertical-align: middle;
}
.bottom {
  vertical-align: bottom;
}
.text-center{
  text-align:center;
}
.font14 {
  font-size: 14pt;
}
.font12 {
  font-size: 12pt;
}

.font11 {
  font-size: 11pt;
}
.font10 {
  font-size: 10pt;
}
/* overwrite bootstrap */
.navbar-inner {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.upload-window{
  visibility: hidden;
}

