body {
  background: #FEFEFE;
}
footer {
  margin-top: 5px;
}

.left {
  float:left;
}
.right{
  float:right;
}
.clear{
  clear:both;
}
.text-center{
  text-align:center;
}
/* overwrite bootstrap */
.navbar-inner {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
