.round{
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  height: 15px;
  text-shadow: none;
  color: #08C;
  margin: 1px;
  font-size: 12px;
}
.tagArea {
  width: 400px;
  float:left;
}

.tagHeader{
  margin-bottom: 5px;
}

.tagContainer{
}

#garallyArea {
  margin-top:30px;
}

.work {
  width: 175px;
  height: 175px;
  margin: 5px;
  border: 1px solid #CCC;
  float: left;
}