#logo-area {
  text-align: center;
  font-size: 14pt;
  color: white;
  padding: 10px 0px;
  width: 340px;
}
#logo-area a {
  color: white;
  text-decoration: none;
}
#search-area {
  min-width: 300px;
  height: 40px;
}
#user-area {
  width: 300px;
}
.subnavbar {
  width: 100%;
  height: 40px;
  background: #F1F1F1;
  border-bottom: 1px solid #BBB;
  z-index: 101;
  position: absolute;
  top: 40px;
}
.subnavbar .container {
  line-height: 40px;
}
.subnavbar span {
  margin-right: 20px;
}
#button-container {
  text-align: left;
  width: 200px;
}
#info-container {
  margin-left: 200px;
  text-align: center;
  width: 540px;
  font-size: 11pt;
}
#link-container {
  text-align: right;
  width: 200px;
}
.initial-navigation {
  background: -moz-linear-gradient(top, #00A051, #3EB370);
  background: -webkit-gradient(linear, left top, left bottom, from(#00A051), to(#3EB370));
  height :230px;
  width: 100%;
  border-bottom:1px solid #AAA;
  color: white;
}

.initial-navigation-back {
  position: absolute;
  height: 230px;
  width: 100%;  
  z-index: 1;
}
.initial-navigation-container {
  position: absolute;
  width: 100%;
  height: 230px;
  z-index: 2;
}

.header-space {
  min-height: 22px;
}
