#logo-area {
  text-align: center;
  font-size: 14pt;
  color: white;
  padding: 10px 0px;
  width: 340px;
}
#logo-area a {
  color: white;
  text-decoration: none;
}
#search-area {
  width: 300px;
  height: 22px;
  margin: 9px 0px;
}
#search-area input {
  height: 16px;
  margin: 0px;
  padding: 3px 5px;
  background: #CCC;
}
#user-area {
  width: 300px;
}
.subnavbar {
  width: 100%;
  height: 40px;
  background: #F1F1F1;
  border-bottom: 1px solid #BBB;
  z-index: 101;
  position: absolute;
  top: 40px;
}
.subnavbar .container {
  line-height: 40px;
}
.subnavbar span {
  margin-right: 20px;
}
#button-container {
  text-align: left;
  width: 200px;
}
#info-container {
  margin-left: 200px;
  text-align: center;
  width: 540px;
  font-size: 11pt;
}
#link-container {
  text-align: right;
  width: 200px;
}
.guideboard {
  width: 350px;
  height: 120px;
  z-index: 100;
  position: absolute;
  top: 75px;
  display: none;
  }
.guideboard .container {
  margin-top: 0px;
  padding-top: 5px;
  width: 350px;
}
.guideboard .container .close-area{
  text-align: right;
}
.guideboard .container .message-area p{
  font-size: 12pt;
  color: black;
}
.guideboard .container .button-area{
  margin-left: 40px;
}
.guideboard .container .button-area .btn{
  margin-left: 10px;
}
.header-space {
  min-height: 50px;
  }
#hoge{
  /*
  display: inline;
  */
  display: none;
}
