.wrap {
  width: 1000px;
  height: 1850px;
}
.wrap ul li {
  color: darkgray;
}
.wrap ul li.active{
  color: dodgerblue;
}
.content-wrap {
  border: solid 1px #CCC;
  padding: 10px;
  width: 650px;
  height: 1750px;
}
.sidebar-wrap {
  border: solid 1px #CCC;
  padding: 10px;
  width: 290px;
  height: 1750px;
}
.input-area {
  margin-top: 30px;
}
.select-category table{
  margin: 5px;
  width: 600px;
}
.select-category td{
}
.select-category .category-name{
  padding: 10px;
  width: 180px;
}
.select-category .prize{
  padding: 10px;
  width: 80px;
}
#prize_pattern1 {
  display: block;
}
#prize_pattern2 {
  display: none;
}
#prize_pattern3 {
  display: none;
}
.plan-select {
  margin-top: 5px;
  margin-left: 5px;
}
.plan-select table{
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 15px 0px;
  empty-cells: hide;
}
.plan-select table td{
  width: 160px;
  border: 1px solid #CCC;
  height: 30px;
  padding: 15px;
}
.plan-select label{
  margin-left: 260px;
}
#scope table{
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 15px 0px;
  empty-cells: hide;
}
#scope td{
  width: 160px;
  border: 1px solid #CCC;
  height: 30px;
  padding: 15px;
}
#option {
}
#option table{
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 15px 0px;
  empty-cells: hide;
}
#option td{
  width: 160px;
  border: 1px solid #CCC;
  height: 30px;
  padding: 15px;
}
.btn-area{
  margin-left: 580px;
}
.explanation-area {
  margin-top: 300px;
  margin-left: 5px;
  width: 280px;
}
.yourchoice-area {
  margin-top: 1400px;
  margin-left: 5px;
}
.cart-area {
  margin-left: 5px;
  width: 240px;
}
