#contest-info {
  vertical-align:middle;
  padding-bottom:5px;
  border-bottom:1px solid #CCC;
  margin-bottom: 15px;
}

#contest-info .space {
  margin-right: 20px;
}

#contest-info img {
  vertical-align: bottom;
}

#application {
  width: 500px;
  float: left;
  margin-right: 30px;
}
#feedback-index {
  width: 410px;
  float: left;
}
i{
  margin:160px 10px 0px 10px;
}
#product {
  width: 432px;
  height: 337px;
  position: relative;
}

#feedbackDialog {
  display: none;
  position: absolute;
  width: 502px;
  height: 377px;
  z-index: 100;
}
#feedbackDialogBg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.7;
  z-index: 101;
}

#feedbackContainer {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 102;
}
#feedbackArea {
  position: relative;
  top: 150px;
  left: 130px;
  width: 300px;
}
#feedbackSquare {
  margin-left: 50px;
  width: 50px;
  height: 50px;
  border: 5px solid #AAA;
}
#triangle {
  margin-left: 70px;
  width: 12px;
  height: 12px;
  /*  border-bottom: 10px solid white;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;*/
}
#feedbackComment {
  display: none;
  position: absolute;
  width: 502px;
  height: 377px;
  z-index: 90;
}
#feedbackCommentBg {
  position: absolute;
  width: 100%;
  height: 100%;
/*  background: black;
  opacity: 0.2;
  z-index: 91;
*/}

#feedbackCommentContainer {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 92;
}
#feedbackCommentArea {
  position: relative;
  top: 150px;
  left: 130px;
  width: 300px;
}
#feedbackCommentSquare {
  margin-left: 50px;
  width: 50px;
  height: 50px;
  border: 5px solid #AAA;
}

#commentDetail {
  padding: 5px;
  width: 250px;
  height: 20px;
  background: #CCC;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.rating-area{
  /*
  border: 1px solid #CCC;
*/
  margin: 5px 0 10px 0;
  padding: 0 5px 5px 5px;
}
.contest-lane .header{
  margin-top: 10px;
}
.contest-lane .contents{
  margin: 5px;
  border: 1px solid #fff;
}
.contest-lane .contents .lane{
  margin-top: 10px;
}
.contest-lane .contents i{
  margin-top: 40px;
}
.posts li {
  width: 127px;
  height: 100px;
}
.posts li img {
  display:block;
  margin:auto;
  border: 1px solid #CCC;
}
