#info-area {
  margin: 10px 10px 20px 10px;
}
#info-area img {
  vertical-align: bottom;
}
#info-area .space {
  margin-right: 20px;
}
#designes-area { 
}
#designes-area .design {
  padding: 5px;
  margin: 5px;
  height: 160px;
  width: 134px;
  border: 1px solid #BBB;
}
img.flyer{
  border: 1px solid #CCC;
}
#designes-area .design .designer-info {
  margin-top: 5px;
}

#designes-area .design .designer-info {
  vertical-align: bottom;
  margin-top: 5px;
}

table .design{
  margin: 0px 5px;
  border: 1px solid #CCC;  
}
