.wrap {
  width: 1000px;
  height: 2200px;
}
.wrap ul li {
  color: darkgray;
}
.wrap ul li.active{
  color: dodgerblue;
}
.content-wrap {
  border: solid 1px #CCC;
  padding: 10px;
  width: 680px;
  height: 2100px;
}
.sidebar-wrap {
  border: solid 1px #CCC;
  padding: 10px;
  width: 270px;
  height: 2100px;
}
.input-area {
  margin-top: 30px;
}
.logoname-select {
  margin-top: 5px;
  margin-left: 10px;
}
.subname-select {
  margin-top: 5px;
  margin-left: 10px;
}
.subname-select p{
  text-align: left;
  margin-top: -1.8em;
  margin-left: 5em;
}
.timelimit-select {
  margin-top: 5px;
  margin-left: 10px;
}
.timelimit-select span{
  margin-left: 10pt;
  font-size: 10pt;
}
.purpose-select {
  margin-top: 5px;
  margin-left: 10px;
}
.industry-select {
  margin-top: 5px;
  margin-left: 10px;
}
.industry-select .industry1{
  margin-left: 10px;
}
.industry-select .industry2{
  margin-top: -18px;
  margin-left: 280px;
}
.format-select {
  margin-top: 5px;
  margin-left: 10px;
}
.format-select td{
  width: 130px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right:20px;
}
.color-select {
  margin-top: 5px;
  margin-left: 10px;
}
.color-select .selectsample {
  margin-top: 5px;
  padding: 5px;
}
.color-select .freeinput {
  margin-top: 5px;
  padding: 5px;
}
.color-select .freeinput i{
  margin: 0;
  padding: 0;
  line-height: 0;
  text-align: bottom;
}
.parts-select {
  margin-top: 5px;
  margin-left: 10px;
}
.parts-select h2{
  float: left;
}
.parts-select p{
  text-align: left;
  margin-top: -1.4em;
  margin-left: 13em;
}
.logo-select-area table{
  border-collapse: separate;
  border-spacing: 15px;
}
.clipping-area table{
  border-collapse: separate;
  border-spacing: 10px;
}
.clipping-area td{
  padding-right: 10px;
}
.add-clipping {
  margin: 10px;
  width: 89px;
  height: 89px;
  background: #CCC;
  border: 1px solid #BBB;
}
#design_1 {
  display: none;
}
#design_2 {
  display: none;
}
#design_3 {
  display: none;
}
#design_4 {
  display: none;
}
#design_5 {
  display: none;
}
#design_6 {
  display: none;
}
#design_7 {
  display: none;
}
#design_8 {
  display: none;
}
.clipping-area p{
  line-height: 10px;
  text-align: center;
}
.URL-select p{
  text-align: left;
  margin-top: -1.4em;
  margin-left: 4em;
}
.btn-area .previous{
  margin-left: 180px;
}
.btn-area .next{
  margin-left: 80px;
}
