/*job_index*/

.wrap {
  width: 1250px
  border:solid 1px #666666;
}

.wrap .sidebar {
  float: left;
  margin: 5px;
  padding: 5px;
  width: 250px;
  height: 800px;
  border:solid 1px #666666;
}

.sidebar .menu{
  margin: 5px;
  padding: 5px;
  font-size: 12pt;
}

.sidebar .submenu{
  margin-left: 15px;
  font-size: 10pt;
}

.sidebar .submenu li {
  list-style-type: none
}

.logo-select-area {
  font-size: 7pt;
}

.wrap .content-wrap {
  float: left;
  margin: 5px;
  padding: 2px;
  width: 870px;
  height: 500px;
  border:solid 1px #666666;
}

.category-header {
  text-align: center;
  font-size: 14pt;
  color: Khaki;
}

.categories{
  width: 560px;
  margin: 20px auto 10px 190px;
  margin-left:auto;margin-right:auto;
}

.categories .category {
  margin-right: 10px;
  width: 130px;
  height: 120px;
  background: url(../images/mock/category/category.png) no-repeat;
  text-align: center;
  font-weight: bold;
  font-size: 14pt;
  padding-top: 15px;
}

.index-area {
  border: 2px solid;
  font-size: 12pt;
  margin-left:auto;margin-right:auto;
}

.index-title{
  font-size: 16pt;
  margin-left:50px;
}

.ta1 {
  width: 800px;
  margin-top:20px;
  margin-left:50px;
  margin-bottom:10px;
}

.ta1.status {
  text-align:center;
}

.ta1.num {
  text-align:right;
}

.ta1 th,.ta1 td {
  padding:10px 22px;
}

.ta1 th {
  border-bottom:double 3px #666666;
}

.ta1 td {
  text-align:center;
  border-bottom:solid 1px #666666;
}


