#contest-area .contents{
  width: 810px;
  margin: 20px 65px 30px 65px;
}
#contest-area .contents i{
  margin-top: 40px;
}
.posts li {
  width: 130px;
  height: 100px;
}
.posts li img {
  display:block;
  margin:auto;
  border: 1px solid #CCC;
}
.search-area{
  border: solid 1px #CCC;
  padding: 10px 0 10px 10px;
  margin: 0 0 10px 0;
}
.search-detail{
  margin: 0 0 0 20px;
}
.content-wrap {
/*  
  float: left;
*/
  padding: 10px;
  /*
  width: 641px;
*/
  min-height: 500px;
  border: solid 1px #CCC;
}
.content-title {
  margin-bottom: 20px;
}

