.wrap {
  width: 1050px;
  height: 1700px;
}

.content-wrap {
  border: solid 1px #CCC;
  padding: 10px;
  width: 700px;
  height: 1350px;
}

.sidebar-wrap {
  border: solid 1px #CCC;
  padding: 10px;
  width: 300px;
  height: 1350px;
}

.input-area {
  margin-top: 30px;
}

.select-category table{
  margin: 10px;
  width: 690px;
}

.select-category td{
  padding: 10px;
  width: 200px;
}

#prize_pattern1 {
  display: block;
}

#prize_pattern2 {
  display: none;
}

#prize_pattern3 {
  display: none;
}

.plan-select {
  margin-top: 5px;
  margin-left: 10px;
}

.plan-select table{
  border-collapse: separate;
  border-spacing: 15px 0px;
  empty-cells: hide;
}

.plan-select td{
  border: 1px solid #CCC;
  height: 30px;
  padding: 15px;
}

#option table{
  border-collapse: separate;
  border-spacing: 15px;
}

#option td{
  border: 1px solid #CCC;
  padding-left: 10px;
  padding-right: 10px;
}

.amount-area {
}
