.wrap {
  margin: auto;
  width: 800px;
  height: 2200px;
}
.wrap ul li {
  color: darkgray;
}
.wrap ul li.active{
  color: dodgerblue;
}
.input-area {
  margin-top: 10px;
  padding: 10px;
}
.content-wrap{
  padding: 10px 0 0 10px;
  border: solid 1px #CCC;
}
.subname-select p{
  text-align: left;
  margin-top: -1.8em;
  margin-left: 5em;
}
.timelimit-select span{
  margin-left: 10pt;
  font-size: 10pt;
}
.industry-select .industry1{
  margin-left: 10px;
}
.industry-select .industry2{
  margin-top: -18px;
  margin-left: 280px;
}
.format-select td{
  width: 130px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right:20px;
}
.color-select .selectsample{
  margin-top: 5px;
  padding: 5px;
}
.color-select .freeinput {
  margin-top: 5px;
  padding: 5px;
}
.color-select .freeinput i{
  margin: 0;
  padding: 0;
  line-height: 0;
  text-align: bottom;
}
.parts-select h2{
  float: left;
}
.parts-select p{
  text-align: left;
  margin-top: -1.4em;
  margin-left: 13em;
}
.logotype-select-area table{
  border-collapse: separate;
  border-spacing: 15px;
}
.logostyle-select-area table{
  border-collapse: separate;
  border-spacing: 15px;
}
.URL-select p{
  text-align: left;
  margin-top: -1.4em;
  margin-left: 4em;
}
.btn-area{
  margin-top: 10px;
}
.btn-area .previous{
  margin-left: 180px;
}
.btn-area .next{
  margin-left: 80px;
}
