.category-title{
  margin:9px 0px 20px 0px;
}
.category-content{
  margin-top:10px;
}
table.custom {
  border-right: 1px solid #DDD;
  border-left: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}
#myworks table{
  border-collapse: separate;
  border-spacing: 0 20px;
}
#myworks table td{
  border-bottom: 1px solid #CCC;
}
.sample-work {
  margin: 5px;
  border: 1px solid #CCC;
/*
  float: left;
*/
  }
.portfolio-area{
  float: left;
}
.thumbnail-work {
  width: 95px;
  height: 95px;
  margin: 5px 5px 5px 30px;
  border: 1px solid #CCC;
  float: left;
}
.design {
  padding: 5px;
  margin: 5px;
  height: 120px;
  width: 160px;
}
#contest-manager{
  display: none;
}

