.wrap {
  margin: auto;
  width: 800px;
  height: 500px;
}
.span ul li {
  color: darkgray;
}
.span ul li.active{
  color: dodgerblue;
}
.content-wrap{
  margin: 10px 0 10px 0;
  padding: 10px 0 0 10px;
  border: solid 1px #CCC;
}
.plan-area {
  margin-left: 50px;
  width: 550px;
}
.detail-area {
  margin-left: 50px;
  width: 550px;
}
.index {
  width: 180px;
}
.btn-area{
  margin-top: 10px;
}
.btn-area .previous{
  margin-left: 180px;
}
.btn-area .next{
  margin-left: 80px;
}
