.wrap {
  margin: auto;
  width: 800px;
  height: 1000px;
}
.wrap ul li {
  color: darkgray;
}
.wrap ul li.active{
  color: dodgerblue;
}
.select-checkout{
  background-color:whitesmoke;
  border: solid 1px #CCC;
  padding: 20px 0 20px 30px;
}
.checkout-pattern {
  margin-right: 40px;
}
.checkout-pattern .image{
  width: 75px;
  height: 75px;
  margin: 5px;
  float: left;
}
.paypal-information{
  background-color:whitesmoke;
  border: solid 1px #CCC;
  margin-top: 10px;
  padding: 20px 0 20px 30px;
}
#paypal-area{
 display: block;
}
#creditcard-area{
 display: none;
}
.card-information{
  background-color:whitesmoke;
  border: solid 1px #CCC;
  margin-top: 10px;
  padding: 20px 0 20px 30px;
  display: hidden;
}
.agreement-area{
  background-color:whitesmoke;
  border: solid 1px #CCC;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 30px;
  height: 300px;
}
.agreement-area .description{
  overflow: scroll;
  width: 730px;
  height: 200px;
  margin-top:10px;
  margin-bottom:10px;
  background-color: white;
  border: solid 1px #CCC;
} 
.input-area {
  margin-top: 10px;
}
.btn-area{
  margin-top: 10px;
}
.btn-area .previous{
  margin-left: 180px;
}
.btn-area .next{
  margin-left: 80px;
}
