.wrap {
  width: 950px;
  height: 1200px;
}
.wrap ul li {
  color: darkgray;
}
.wrap ul li.active{
  color: dodgerblue;
}
.content-wrap {
  margin-right: 10px;
}
.content-wrap .checkout-area{
  background-color:whitesmoke;
  border: solid 1px #CCC;
  padding-top: 10px;
  padding-left: 30px;
  width: 600px;
  height: 550px;
}
.content-wrap .agreement-area{
  background-color:whitesmoke;
  border: solid 1px #CCC;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 30px;
  width: 600px;
  height: 200px;
}
.content-wrap .agreement-area .description{
  overflow: scroll;
  width: 550px;
  height: 100px;
  margin-top:10px;
  margin-bottom:10px;
  background-color: white;
  border: solid 1px #CCC;
} 
.sidebar-wrap {
  border: solid 1px #CCC;
  padding: 10px;
  width: 250px;
  height: 765px;
}
.paypal {
  margin-top: 20px;
  margin-bottom: 20px;
}
.paypal h4{
  text-align: left;
  margin-top: -1.4em;
  margin-left: 3.5em;
}
.paypal .icon{
  position: absolute;
  margin-top: -1.7em;
  margin-left: 1.5em;
}
.creditcard {
  margin-top: 20px;
  margin-bottom: 20px;
}
.creditcard h4{
  text-align: left;
  margin-top: -1.4em;
  margin-left: 3.5em;
}
.creditcard i{
  position: absolute;
  margin-top: -1.7em;
  margin-left: 1.5em;
}
.input-area {
  margin-top: 20px;
}
.btn-area .previous{
  margin-left: 180px;
}
.btn-area .next{
  margin-left: 80px;
}
