.categories-container {
  border-bottom: 1px solid #BBB;
}
.categories{
  width: 560px;
  margin: 20px auto 10px 190px;
}
.categories .category {
  margin-right: 10px;
  width: 130px;
  height: 120px;
  background: url(../images/mock/category/category.png) no-repeat;
  text-align: center;
  font-weight: bold;
  font-size: 14pt;
  padding-top: 15px;
}
.contest-lane {
  padding-top: 20px;
  border-bottom: 1px solid #BBB;
  padding-bottom: 30px;
}
.contest-lane .header .top{
  margin-bottom: 5px;
}
.contest-lane .header .top span.title{
  font-size: 13pt;
  margin-right: 20px;
}
.contest-lane .header .top img{
  vertical-align: bottom;
}
.contest-lane .header .top .span.name{
  margin-right: 10px;
}
.contest-lane .header .bottom span{
  margin-right: 20px;
}
.contest-lane .contents{
  margin-top: 15px;
}
.contest-lane .contents #button-container{
  margin-left: 20px;
  width: 99px;
  height: 99px;
  background: #CCC;
  border: 1px solid #BBB;
/*  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;*/
}
.contest-lane .contents #button-container p{
  line-height: 100px;
  text-align: center;
}
.contest-lane .contents i{
  margin-top: 40px;
}
.posts li {
  width: 130px;
  height: 100px;
}
.posts li img {
  display:block;
  margin:auto;
  border: 1px solid #CCC;
}