hr {
  border-top:1px solid #BBB;
}
.categories {
  width: 700px;
  margin: auto;
}
.categories .category {
  text-align: center;
  padding: 10px;
  margin: 5px;
  width: 140px;
  height: 80px;
  border: 2px solid #08C;
}
.categories .category .title {
  font-size: 11pt;
  font-weight: bold;
  color: #08C;
  margin-bottom: 5px;
}
.order-button-area {
  margin: 5px;
  width: 164px;
  text-align: center;
  float: left;
}
.order-button {
  width: 140px;
}
