:javascript
  $(function(){
    $('#postLoginBtn').click(function(){
      var userName = $('#postUserName').val();
      url = '/sessions/create?callback=post&user_name='+userName;
      location.href = url;
    });
  });
#postLoginModal.modal.hide.fade.in{:style => 'display:none;'}
  .modal-header
    %a.close{:'data-dismiss'=>"modal"}×
    %h3 Sign in
  .modal-body{:style=>'margin-bottom:10px;'} 
    %a#signupBtn.btn.btn-primary.pull-right{:href=>'/users/new'} 新規アカウントを作成
    %input#postUserName.span3{:type=>'text',:placeholder=>'UserName'}
    %br
    %input.span3{:type=>'text',:placeholder=>'PassWord'}
    %br
    .pull-left= check_box_tag(:option, 1)+'パスワードを保存する'
  .modal-footer
    .left
      %a#postLoginBtn.btn.btn-primary ログイン
    .right
      %a パスワードを忘れた方へ
